<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
/>

<nav class="navbar  navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WaifuBot</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Trade Waifu</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Directory
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Player</a></li>
            <li><a class="dropdown-item" href="#">Waifu</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Who Has Your Waifu?"
          aria-label="Search"
        />
        <button class="btn btn-outline-success me-2" type="submit">Find</button>
      </form>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="LookUp Player"
          aria-label="Search"
        />
        <button class="btn btn-outline-success me-2" type="submit">Find</button>
      </form>
      <div class="nav-item dropdown">
      {% if authorized %}
        <a
          class="navbar-brand nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ user.avatar_url }}"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          {{ user.name }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Wishlist</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      {% else %}
        <a
          class="navbar-brand nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ url_for('static', filename='img/who.png') }}"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Who?
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{{ url_for('.login') }}">Login</a></li>
        </ul>
      {% endif %}
      </div>
    </div>
  </div>
</nav>
{% block header %}{% endblock %} {% block content %}{% endblock %}
<footer>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</footer>
